


<div class="sixteen columns">
    <div class="submit-page">

        <div class="form">
            <h5>Old Password</h5>
            <input class="search-field" type="text" placeholder="" value="" ng-model="Password" />
        </div>

        <div class="form">
            <h5>New Password</h5>
            <input class="search-field" type="text" placeholder="" value="" ng-model="ConfirmPassword" />
        </div>

        <div class="form">
            <h5>Retype New Password</h5>
            <input class="search-field" type="text" placeholder="" value="" ng-model="NewPassword" />
        </div>


        <div class="form">
            <span id="message" style="color:{{RColorCode}}">{{message}}</span>
        </div>

        <div class="divider margin-top-0"></div>
        <a style="cursor:pointer;" class="button big margin-top-5" ng-click="fn_Validate()">Submit <i class="fa fa-arrow-circle-right"></i></a>


    </div>
</div>
