
@{
    ViewBag.Title = "Mazz Global";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="fullwidthbanner-container" style="margin:0;">
    <div class="fullwidthbanner">
        <ul>

            <!-- Slide 1 -->
            <li data-fstransition="fade" data-transition="fade" data-slotamount="10" data-masterspeed="300" style="background:url(../images/OnlinePlants001015.png)">

                @*<img src="~/images/OnlinePlants001015.png" style="width:200px; height:200px;" alt="">*@

                <div class="caption title sfb" data-x="0" data-y="165" data-speed="400" data-start="800" data-easing="easeOutExpo">
                    <div>
                        <div>
                            <img src="~/images/spinning_globe.gif" style="width:250px; height:250px;" />
                            <img src="~/images/logo_2.png" id="imglogo" style="position:absolute; top:0%; left:-30%; width:460px !important; height:115px !important;" />

                        </div>

                    </div>

                </div>

                <div style="position: absolute;top: 77%;color: #fff;left: 65%;">
                    <div style="font-size:30px;">OnlinePlants Recruitment Services LLC</div>
                    <br>
                    <div style="text-align: center; font-size :22px;">SBA Certified WOB/MOB</div>
                </div>

            </li>



            <!-- Slide 1 -->
            <li data-fstransition="fade" data-transition="fade" data-slotamount="10" data-masterspeed="300">

                <img src="~/images/banner-01.jpg" alt="">

                <div class="caption title sfb" data-x="0" data-y="165" data-speed="400" data-start="800" data-easing="easeOutExpo">
                    <h2>Explore and be discovered</h2>
                </div>

                <div class="caption text sfb" data-x="0" data-y="240" data-speed="400" data-start="1200" data-easing="easeOutExpo">
                    <p>Connect directly with and be discovered by the employers <br>who want to hire you.</p>
                </div>

                <div class="caption sfb" data-x="0" data-y="370" data-speed="400" data-start="1600" data-easing="easeOutExpo">
                    <a href="/Account/Index" class="slider-button">Get Started</a>
                </div>
            </li>

            <!-- Slide 2 -->
            <li data-transition="slideup" data-slotamount="10" data-masterspeed="800">
                <img src="~/images/banner-02.jpg" alt="">

                <div class="caption title sfb" data-x="center" data-y="165" data-speed="400" data-start="800" data-easing="easeOutExpo">
                    <h2>Hire great hourly employees</h2>
                </div>

                <div class="caption text align-center sfb" data-x="center" data-y="240" data-speed="400" data-start="1200" data-easing="easeOutExpo">
                    <p>Work Scout is most trusted job board, connecting the world's <br> brightest minds with resume database loaded with talents.</p>
                </div>

                <div class="caption sfb" data-x="center" data-y="370" data-speed="400" data-start="1600" data-easing="easeOutExpo">
                    <a href="/Account/Index" class="slider-button">Hire</a>
                    <a href="/Account/Index" class="slider-button">Work</a>
                </div>
            </li>

        </ul>
    </div>
</div>

<div id="testimonials" style="margin:0;">
    <!-- Slider -->
    <div class="container">
        <div class="sixteen columns">
            <div class="testimonials-slider">
                <ul class="slides">
                    <li>
                        <p>
                            To get the right people, and balancing with management time pressure is always a challenge for a business, especially when you grow by 5 times over a 3 year period – being presented with an interviewed short list of ideal candidates takes away the stress and most importantly, we get the best of the best to fill our vacancies aiding our own success – I would recommend OnlinePlants RECRUITMENT SERVICES LLC to anyone in business!
                            <span>CEO</span>
                        </p>
                    </li>

                    <li>
                        <p>
                            I have never before been so well matched to, or briefed for a recruitment process. From the initial selection to the final package negotiations OnlinePlants RECRUITMENT SERVICES LLC's guidance and support were invaluable.
                            <span>Director of Sales</span>
                        </p>
                    </li>

                    <li>
                        <p>
                            By taking the time to learn about our business and specific company culture, OnlinePlants RECRUITMENT SERVICES LLC has been able to consistently offer us a selection of highly suitable candidates for both sales and marketing roles. They are now our first point of contact when recruiting for such positions and are genuinely regarded as a long term partner. I highly recommend the services of OnlinePlants RECRUITMENT SERVICES LLC.
                            <span>Managing Director</span>
                        </p>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>

<div class="infobox" style="margin:0;">
    <div class="container">
        <div class="sixteen columns">Start Building Your Own Job Board Now <a href="/Account/Index">Get Started</a></div>
    </div>
</div>


<div class="container">

    <div class="sixteen columns">

        <!-- Navigation / Left -->
        <div class="one carousel column"><div id="showbiz_left_2" class="sb-navigation-left-2"><i class="fa fa-angle-left"></i></div></div>

        <!-- ShowBiz Carousel -->
        <div id="our-clients" class="showbiz-container fourteen carousel columns">

            <!-- Portfolio Entries -->
            <div class="showbiz our-clients" data-left="#showbiz_left_2" data-right="#showbiz_right_2">
                <div class="overflowholder">

                    <ul>
                        <!-- Item -->
                        <li>
                            <a href="https://orca.bpn.gov/" target="_blank">
                                <img src="~/images/clientlogo1.jpg" alt="" />
                            </a>
                        </li>
                        <li>
                            <a href="http://sba.gov/" target="_blank"><img src="~/images/clientlogo2.jpg" alt="" /></a>
                        </li>
                        <li><a href="http://www.dnb.com/" target="_blank"><img src="~/images/clientlogo3.jpg" alt="" /></a></li>
                        <li><a href="https://www.bpn.gov/ccr/default.aspx" target="_blank"><img src="~/images/clientlogo4.jpg" alt="" /></a></li>
                        <li>
                            <a href="https://orca.bpn.gov/" target="_blank">
                                <img src="~/images/clientlogo1.jpg" alt="" />
                            </a>
                        </li>
                        <li>
                            <a href="http://sba.gov/" target="_blank"><img src="~/images/clientlogo2.jpg" alt="" /></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>

                </div>
                <div class="clearfix"></div>

            </div>
        </div>

        <!-- Navigation / Right -->
        <div class="one carousel column"><div id="showbiz_right_2" class="sb-navigation-right-2"><i class="fa fa-angle-right"></i></div></div>

    </div>

</div>



@section script
{
    <script src="~/scripts/custom.js"></script>
    <script>

        $(document).ready(function () {
            $('.tabhome').attr('id', 'current');

            setInterval(function () {
                $('#imglogo').css({
                    width: '',
                    height: ''
                });
            }, 1000);





        });

    </script>
}

