
@{
    ViewBag.Title = "Testimonial";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Titlebar
================================================== -->
<div id="titlebar" class="single">
    <div class="container">

        <div class="sixteen columns">
            <h2>Testimonial</h2>
            <nav id="breadcrumbs">
            </nav>
        </div>

    </div>
</div>


<div class="container">

    <div class="my-account">

        <ul class="tabs-nav">
            <li><a href="#tab1">Employer</a></li>
            <li><a href="#tab2">Job Seeker</a></li>
            <li><a href="#tab3">Recuritor</a></li>
        </ul>


    </div>

    <div class="tabs-container">
        <div class="tab-content" id="tab1" style="display: none;">

            <div class="company-info">
                <div class="content">
                    <h4>CEO</h4>
                </div>
                <div class="clearfix"></div>
                <p class="margin-reset">
                    To get the right people, and balancing with management time pressure is always a challenge for a business, especially when you grow by 5 times over a 3 year period – being presented with an interviewed short list of ideal candidates takes away the stress and most importantly, we get the best of the best to fill our vacancies aiding our own success – I would recommend OnlinePlants RECRUITMENT SERVICES LLC to anyone in business!
                </p>
            </div>

            <div class="company-info">
                <div class="content">
                    <h4>Director of Sales</h4>
                </div>
                <div class="clearfix"></div>
                <p class="margin-reset">
                    I have never before been so well matched to, or briefed for a recruitment process. From the initial selection to the final package negotiations OnlinePlants RECRUITMENT SERVICES LLC's guidance and support were invaluable.
                </p>
            </div>

            <div class="company-info">
                <div class="content">
                    <h4>Executive Director</h4>
                </div>
                <div class="clearfix"></div>
                <p class="margin-reset">
                    Interviewing prospective candidates is very time consuming process. One of the beauties of OnlinePlants RECRUITMENT SERVICES LLC is that they spend the time selecting prospective candidates, having exhaustively investigated our needs. Great quality candidates, perfect fit for our needs, minimum effort: we are very satisfied customers.
                </p>
            </div>

            <div class="company-info">
                <div class="content">
                    <h4>CEO</h4>
                </div>
                <div class="clearfix"></div>
                <p class="margin-reset">
                    OnlinePlants RECRUITMENT SERVICES LLC has taken the time to understand who we are and what we need in and from our personnel. Whether recruiting new candidates or consulting, we turn to OnlinePlants RECRUITMENT SERVICES LLC for a professional and effective service
                </p>
            </div>

            <div class="company-info">
                <div class="content">
                    <h4>Managing Director</h4>
                </div>
                <div class="clearfix"></div>
                <p class="margin-reset">
                    By taking the time to learn about our business and specific company culture, OnlinePlants RECRUITMENT SERVICES LLC has been able to consistently offer us a selection of highly suitable candidates for both sales and marketing roles. They are now our first point of contact when recruiting for such positions and are genuinely regarded as a long term partner. I highly recommend the services of OnlinePlants RECRUITMENT SERVICES LLC.
                </p>
            </div>

            <div class="company-info">
                <div class="content">
                    <h4>General Operations and Product Manager</h4>
                </div>
                <div class="clearfix"></div>
                <p class="margin-reset">
                    Having used OnlinePlants RECRUITMENT SERVICES LLC since 2011, we have found them not only reliable and efficient but a pleasure to work with. Nicole takes a personal interest in all the candidates and her understanding of our industry second to none.
                </p>
            </div>

            <div class="company-info">
                <div class="content">
                    <h4>General Manager</h4>
                </div>
                <div class="clearfix"></div>
                <p class="margin-reset">
                    OnlinePlants RECRUITMENT SERVICES LLC has been invaluable in sourcing staff. Nicole is a pleasure to work with and has always given us a selection of serious contenders for any given role. Unlike other agencies she spends time getting to know all her candidates so that we are only put in touch with those with the necessary skills and experience required; this saves us time and gives us the opportunity to recruit the best.
                </p>
            </div>

            <div class="company-info">
                <div class="content">
                    <h4>Group Operations Executive</h4>
                </div>
                <div class="clearfix"></div>
                <p class="margin-reset">
                    I was looking for my 2nd job, but wasn’t sure what I wanted to do – I had been in touch with other agencies who didn’t bother to return my call or wanted to send my CV to companies without even meeting me. Then a friend raved about OnlinePlants RECRUITMENT SERVICES LLC. I called them, they met me and for nearly 2 hours we went through my CV and they really took time to get to know me and my skills. I have recommended them to loads of my mates.
                </p>
            </div>




        </div>

        <div class="tab-content" id="tab2" style="display: none;">


            <div class="company-info">
                <img src="images/company-logo.png" alt="">
                <div class="content">
                    <h4>Job Seeker 1</h4>
                </div>
                <div class="clearfix"></div>
                <p class="margin-reset">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
                </p>
            </div>

            <div class="company-info">
                <img src="images/company-logo.png" alt="">
                <div class="content">
                    <h4>Job Seeker 2</h4>
                </div>
                <div class="clearfix"></div>
                <p class="margin-reset">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
                </p>
            </div>
        </div>
        <div class="tab-content" id="tab3" style="display: none;">

            <div class="company-info">
                <img src="images/company-logo.png" alt="">
                <div class="content">
                    <h4>Recuritor 1</h4>
                </div>
                <div class="clearfix"></div>
                <p class="margin-reset">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
                </p>
            </div>

            <div class="company-info">
                <img src="images/company-logo.png" alt="">
                <div class="content">
                    <h4>Recuritor 2</h4>
                </div>
                <div class="clearfix"></div>
                <p class="margin-reset">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
                </p>
            </div>

        </div>

    </div>
</div>





@section script
{
    <script src="~/scripts/custom.js"></script>
    <script>

        $(document).ready(function () {
            $('.tabtestimonial').attr('id', 'current');
        });

    </script>
}




