
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div id="titlebar" class="single">
    <div class="container">

        <div class="sixteen columns">
            <h2>Dashboard</h2>
        </div>

    </div>
</div>


<!-- Categories -->
<div class="container">
    <div class="sixteen columns">

        <ul id="popular-categories">
            <li><a href="/Admin/JobSeeker/"><i class="fa fa-wrench"></i> Manage Job Seeker</a></li>
            <li><a href="/Admin/Employer/"><i class="fa fa-wrench"></i> Manage Employers</a></li>
            <li><a href="/Admin/Recuritor/"><i class="fa fa-wrench"></i> Manage Recruiter</a></li>
            <li><a href="/Admin/Jobs/"><i class="fa fa-wrench"></i> Manage Jobs</a></li>
            <li><a href="/Admin/Settings/"><i class="fa fa-wrench"></i> System Settings</a></li>
        </ul>

    </div>
</div>

